In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv('Rossmann Stores Data.csv')

C:\Users\sona9\AppData\Local\Temp\ipykernel_9940\2673269849.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Rossmann Stores Data.csv')

In [3]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
df.isna().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [7]:
df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [8]:
df=df.drop(["Date","StateHoliday"],axis=1)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x=df.drop(["Sales"],axis=1)
y=df.Sales

In [11]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
dt=DecisionTreeRegressor()

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=10)

In [13]:
model=dt.fit(x_train,y_train)

In [16]:
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [18]:
r2_score(y_test,y_pred)

0.9554052333995914

In [19]:
mean_absolute_error(y_test,y_pred)

449.7015137811595

In [20]:
import pickle

In [21]:
pickle.dump("model",open("model.pkl","wb"))